@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  padding: 14px 20px;
  border-radius: 30px;
  max-height: 66px;
  max-width: 178px;
  border: none;
  cursor: pointer;
}

.add_water_btn {
  display: flex;
  align-items: center;
  background: none;
  gap: 10px;
}

.add_water_btn_disabled {
  display: flex;
  align-items: center;
  background: none;
  gap: 10px;
}

.text {
  font-family: 'Poppins', sans-serif;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:disabled .add_water_btn_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.wrapper:disabled:hover .text {
  color: #fff;
}

.wrapper:disabled:hover .icon {
  stroke: #fff;
}

.wrapper:hover .text {
  color: #9be1a0;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:hover .icon {
  stroke: #9be1a0;
  transition: stroke 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:focus .text {
  color: #9be1a0;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:focus .icon {
  stroke: #9be1a0;
  transition: stroke 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  display: block;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  border-radius: 50px;
  stroke: #fff;
  transition: stroke 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: unset;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 18px 30px;
    font-size: 16px;
    line-height: 1.5;
  }
}
